html,body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 20px;
    padding: 0px;
    background: lightblue;


}
.profile-picture {
    border-radius: 50%;
  }

  .wrapper {
    background-color: skyblue;
    
    max-width: 50%;
    display: flex;
    flex-direction: row;
    height: 80%;
  }

  .left, .right {
    background-color: pink;
    
    margin: 5px;
    max-width: 50%;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left {
    align-items: center;
    justify-content: center;
  }
  
  